.b1{
    background-color: #3366FF;
}


.heading1{
    font-weight: 600;
    margin-left: 15px;
}

.heading11{
    font-weight: 600;
    margin-top: -30px;
}


.b2{
    background-color: #F7284A;
}

.c1{
    background-color: #3366FF;
    
}

.c2{
    background-color: #3366FF;
}

.r1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.b3{
    border: 4px;
    border-radius: 4px;
    width: 85px;
    background-color: #0DCD94;
}

.e1{
    padding-left: 15px;
    margin-bottom: 20px;
}

.t1{
    color: black;
}

.c3{
    background-color: #F1F4FB;
   
}

.c4{
    background-color: #DEE5F7;
}

.c5{
    margin-right: 10px;
}

.s1{
    margin-left: 20px;
}

.s3{
    margin-bottom: 20px;
}

.s8{
    background-color: #E6FAF4;
    margin-top: 10px;
}

.s9{
    background-color: #F0F4FB;
}

.heading2{
    font-weight: 600;
    margin-bottom: -10px;
}

.heading3{
    color: #73ddad;
    font-weight: 600;
}

.card1{
    border-radius: 10px;
}

.i1{
    color: #73ddad;
}

.vertical-line{
    border-left: 5px solid;
    border-color: #3366FF;
    height: 30px;
    margin-left: -20px;
    margin-top: 10px;
}

.heading4{
    color: #3366FF;
    font-weight: 600;
}

.s10{
    background-color: #EAEFFF;
    margin-top: 10px;
}

.heading5{
    color: #FE9826;
    font-weight: 600;
}

.s11{
    background-color: #fff2e5;
    margin-top: 10px;
}

.s12{
    background-color: #f7aa77;
    margin-top: 10px;
}

.heading6{
    color: #f7aa77;
    font-weight: 600;
}
