<div class="container-fluid">
    <div class="row">

        <div class="col-lg-4">
            <div class="card card-plain">
                <div class="card-header card-header-danger" style="width: 465px; margin-left: 8px;">
                    <h4 class="card-title mt-0"> Employee Form</h4>
                    <p class="card-category"> Add Employee form here</p>
                </div>
                <div class="card-body" style="background-color:white; margin-top: -13%; border-radius: 5px;">

                    <div class="table-responsive"  >
                        <form [formGroup]="formvalue" style="margin-bottom: 12%; ">
                            <input type="text" class="form-control" [(ngModel)]="employee.name" formControlName="name"
                                required placeholder="Enter Employeee Name " style="margin-top: 73px;"><br><br>
    
                            <input type="text" class="form-control" [(ngModel)]="employee.position"
                                formControlName="position" required placeholder="Enter Employeee Position "><br><br>
    
                            <input type="text" class="form-control" [(ngModel)]="employee.type" formControlName="type"
                                required placeholder="Enter Employeee Type "> <br><br>
    
                            <button type="submit" [disabled]="formvalue.invalid" *ngIf="!isEditClicked" (click)="onSubmit()"
                                class="btn btn-danger" style="margin-left: 40%;">Submit</button>
                            <button type="update" *ngIf="isEditClicked" (click)="onUpdate()"
                                class="btn btn-danger">Update</button>
    
                        </form>
                    </div>

                   
                </div>
            </div>
        </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header card-header-danger">

                <h4 class="card-title ">Employee Dashboard</h4>
                <p class="card-category"> Employee Information</p>
            </div>
            <div class="card-body" style="height: 400px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Employee Name
                            </th>
                            <th>
                                Employe Position
                            </th>
                            <th>
                                Employee Type
                            </th>
                            <th>
                                Action
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let emp of employeeList ; index as i">
                                <td>{{i+1}}</td>
                                <td>{{emp.name}}</td>
                                <td>{{emp.position}}</td>
                                <td>{{emp.type}}</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"></a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" (click)="onClickEdit(i)">Edit</a>
                                            <a class="dropdown-item" (click)="onDelete(i)">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>