<div class="table-responsive">
  <table class="table table-hove">
    <thead class="text-primary">
      <th>ID</th>
      <th>Name</th>
      <th>Country</th>
      <th>City</th>
      <th>Salary</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Dakota Rice</td>
        <td>Niger</td>
        <td>Oud-Turnhout</td>
        <td class="text-primary">$36,738</td>
        <td class="td-actions text-left">
          <button type="button" class="btn btn-warning btn-link btn-just-icon">
            <i class="bi bi-pencil-fill" style="font-size:16px"></i>
          </button>
      
          <button type="button" class="btn btn-danger btn-link btn-just-icon">
            <i class="bi bi-trash3-fill" style="font-size:16px"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Minerva Hooper</td>
        <td>Curaçao</td>
        <td>Sinaai-Waas</td>
        <td class="text-primary">$23,789</td>
        <td class="td-actions text-left py-auto">
          <button type="button" class="btn btn-warning btn-link btn-just-icon">
            <i class="bi bi-pencil-fill" style="font-size:16px"></i>
          </button>
      
          <button type="button" class="btn btn-danger btn-link btn-just-icon">
            <i class="bi bi-trash3-fill" style="font-size:16px"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>