.heading1 {
    padding: 10px;
    color: #283A9E;
    font-size: 22px;
    font-weight: 600;
}

.c1 {
    padding: 10px 0px 10px 10px;
}

.r2 {
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    padding-top: 10px;

}

.vertical-line {
    border-left: 5px solid;
    border-color: #28699e;
    height: 25px;
    margin-left: -20px;
    margin-top: 10px;
}

.m1 {
    color: #283A9E;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    margin-top: -27px;
}

.j2{
    background-color: #b0b4bd;
    color: #5a5a75;
}
.j1{
    background-color: #3366ff;
}

.heading2 {
    border-left-style: solid;
    border-left-color: #283A9E;
    color: #283A9E;
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
    padding-top: 5px;
}
.heading3{
    color: #283A9E;
    font-weight: 700;
    margin-left: 60px;
    margin-top: -40px;
}

.card1{
    margin-top: -20px;
}
.p1{
    color: #c1c1f7;
    margin-left: 50px;
    margin-top: -10px;
}
.btn1{
    border-radius: 8px;
    color: #FFBB78;
    font-size: 12px;
    margin-left: 130px;
    margin-top: -85px;
}

.i1{
    width:50px;
}

.p2{
    color: #283A9E;
    font-size: 15px;
    font-weight: 600;
    padding-left: 15px;
}
.p3{
    color: #9494af;
    font-size: 10px;
    margin-top: -20px;
    padding-left: 15px;
}
.b2{
    background-color: #dcdee2;
    margin-left: -20px;
    
    width: 118%;
}

.btn12{
    background-color: #d3dffd;
    border-radius: 8px;
    color: #3366ff;
    font-size: 12px;
}
.btn2{
    background-color: white;
    border-radius: 0px;
    border: 0.1px solid #dddddd;    
    color: #0cf365;
    font-size: 20px;
    margin-bottom: -12px;
    margin-left: -15px;
    padding-right: 20px;
    
}

.btn3{
    background-color: white;
    border: 0.1px solid #dddddd;
    border-radius: 0px;
    color: rgb(252, 59, 107);
    font-size: 20px;
    margin-bottom: -10px;
    margin-right: -15px;
    padding-left: 20px;    
}

.para1{
    font-size: 12px;
    font-weight: 700;
    margin-left: 15px;
}

.heading4{
    font-weight: 700;
    margin-top: 20px;
}

.p4{
    color: #878796;
    font-size: 10px;
    margin-bottom: -10px;
}
.s1{
    height: 8px;
}

.progress{
    border-radius: 12px;
    height: 10px;
    width: 85%;
    margin-left: 15px;
    //padding-left: 10px;
}

.progress-bar{
    border-radius: 12px;
    background-color: #0DCD94;
}

.vertical-line1 {
    border-left: 5px solid;
    border-color: #dddddd;
    height: 25px;
    
}
