<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-sdk-crud></app-sdk-crud>
    </div>
    <div class="col-md-12">
      <app-sdk-button></app-sdk-button>
    </div>
    <div class="col-md-12">
      <app-sdk-modal></app-sdk-modal>
    </div>
    <div class="col-md-12">
      <app-sdk-alert></app-sdk-alert>
    </div>
    <div class="col-md-12">
      <app-sdk-toaster></app-sdk-toaster>
    </div>
    <div class="col-md-12">
      <app-sdk-spinner></app-sdk-spinner>
    </div>
    <div class="col-md-12">
      <app-sdk-more></app-sdk-more>
    </div>
    <div class="col-md-12">
      <app-sdk-datepicker></app-sdk-datepicker>
    </div>
    <div class="col-md-12">
      <app-sdk-imageuploader></app-sdk-imageuploader>
    </div>
  </div>
</div>
