
    <div class="card">
      <div
        class="card-header card-header-danger d-flex justify-content-between align-center"
      >
        <h4 class="card-title">Sample Toaster - [ngx-toastr]</h4>
      </div>

      <div class="card-body">
        <button
          type="button"
          class="btn btn-success"
          (click)="showSuccessToaster()"
        >
          Success Toaster
        </button>

        <button
          type="button"
          class="btn btn-info"
          (click)="showInfoToaster()"
        >
          Info Toaster
        </button>

        <button
          type="button"
          class="btn btn-warning"
          (click)="showWarningToaster()"
        >
          Warning Toaster
        </button>

        <button
          type="button"
          class="btn btn-danger"
          (click)="showErrorToaster()"
        >
          Error Toaster
        </button>
      </div>
    </div>


