<div class="container-fluid">
    <div class="card card-plain">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Google Icons</h4>
            <p class="card-category">
                <a target="_blank" href="https://fonts.google.com/icons">Click Here</a>
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="iframe-container d-none d-lg-block">
                        <iframe src="https://icons.getbootstrap.com/">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>