<div class="container-fluid">
    <div class="card card-plain">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Material Design Icons</h4>
            <p class="card-category">Click Here
                <a target="_blank" href="https://fonts.google.com/icons">Google</a>
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="iframe-container d-none d-lg-block">
                        <iframe src="https://klarsys.github.io/angular-material-icons/">
                        </iframe>
                    </div>
                    <div class="iframe-container d-none d-lg-block">
                        <iframe src="https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>