.bg-1{
    background-color: #DEE5F7;
    border: 1px solid #F1F4FB;
    padding-left: 15px;
    padding-right: 15px; 
    margin-left: 5px;
}

.header{
    font-size: 20px;
    padding-left: 20px;
}

.line {
    border-left: 5px solid;
    border-color: #28699e;
    height: 25px;
    margin-left: -20px;
    margin-top: 10px;
}

.froms {
    border: 1px solid rgb(21, 21, 22);
    border-radius: 5px;
}

.color{
    color: black;
}
