


<div class="row pt-2">
  <div class="col-lg-12 pt-2">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12 my-auto">
       
        <button type="button" class="btn btn-primary float-right" (click)="openModal(template)">
          <i class="bi bi-plus"></i> Add Data
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card">
   
  
    <div class="card-body">
        
   
      <div class="table-responsive" style="height: 250px;">
        <table class="table table-hove">
          <thead class="text-primary">
            <th class="col-lg-4 col-md-4 col-4">ID</th>
            <th class="col-lg-4 col-md-4 col-4">Technology</th>
            <th class="col-lg-4 col-md-4 col-4">Action</th>
           
          </thead>
          <tbody>
            <tr *ngFor="let tab of technoList;let i=index">
              <td >{{tab.technologyID}}</td>
              <td >{{tab.technologyName}}</td>
             
            
              <td class="td-actions text-left">
                <button type="button" class="btn btn-warning btn-link btn-just-icon" (click)="edit(i,tab._id,template)">
                  <i class="bi bi-pencil-fill" style="font-size:16px"></i>
                </button>
            
                <button type="button" class="btn btn-danger btn-link btn-just-icon" (click)="delete(tab._id)">
                  <i class="bi bi-trash3-fill" style="font-size:16px"></i>
                </button>
              </td>
            </tr>
     
          </tbody>
        </table>
      </div>

    </div>
  </div>
  
  <ng-template #template>
  
    <div class="modal-header">
      <h4 class="modal-title pull-left">Technology</h4>
      <button type="button" class="btn btn-danger pull-right" aria-label="Close" (click)="closeModal()"  (click)="technoClear()">
        Close
      </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="technoForm">
          <div class="form-group ">
            <label for="text " class=" tab-head">ID</label>
            <div>
            <input type="text" class="mod-input" placeholder="ID" formControlName="technologyID"
            [ngClass]="{'is-invalid' : technoSub && t['technologyID'].errors }">
            <div *ngIf="technoSub && t['technologyID'].errors" class="invalid-feedback">

              <div *ngIf="technoSub && t['technologyID'].errors['required']">
                Text is required
              </div>
              </div>
            </div>
          </div>

            <div class="form-group ">
              <label for="text " class=" tab-head">Technology</label>
              <div>
              <input type="text" class="mod-input" placeholder="Technology" formControlName="technologyName"
              [ngClass]="{'is-invalid' : technoSub && t['technologyName'].errors }">
              <div *ngIf="technoSub && t['technologyName'].errors" class="invalid-feedback">

                <div *ngIf="technoSub && t['technologyName'].errors['required']">
                  Text is required
                </div>
                </div>
              </div>
            </div>

       
          </form>
    </div>



  
  
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()" (click)="technoClear()">
        Cancle
      </button>
      <button type="button" *ngIf="isUpdate==false" class="btn btn-success" (click)="submitData()">
        Submit
      </button>
      <button type="button"  *ngIf="isUpdate==true" class="btn btn-success" (click)="updateData(i)">
        Update
      </button>
    </div>
    
  </ng-template>
  