.line {

    border-left: 5px solid;
    border-color: #28699e;
    height: 25px;
    margin-left: -20px;
    margin-top: 10px;

}

.bg-1{
    background-color: #DEE5F7;
    border: 1px solid #F1F4FB;
    padding-left: 13px;
    padding-right: 13px; 
    margin-left: 4px;
}
.color{
    color: black;
}

.header{
    font-size: 20px;
    padding-left: 20px;
    font-weight: bolder;
}

.font-color{
    color: black;
    font-weight: bold;
}

.header1{
    background-color: #3366FF;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
}

.froms {
    border: 1px solid #DCDCDC;
    border-radius: 5px;
}
