<div class="container-fluid">
  <!-- <div class="row pb-3">
    <div class="col-lg-12 bg-white border border-white rounded p-3">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 my-auto">
          <button type="button" class="btn btn-primary float-right"  (click)="openModal(template)">
            <i class="bi bi-plus-lg"></i> Add Data
          </button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row pb-3">
    <div class="col-lg-12 p-3">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 my-auto">
          <!-- <button type="button" class="btn btn-info float-right">
            <i class="bi bi-info"></i> 
          </button>
          <button type="button" class="btn btn-success float-right">
            <i class="bi bi-telephone"></i> 
          </button>
          <button type="button" class="btn btn-danger float-right">
            <i class="bi bi-envelope"></i> 
          </button> -->
          <button type="button" class="btn btn-primary float-right"  (click)="openModal(template)">
            <i class="bi bi-plus"></i> Add Position
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 bg-white border border-white rounded p-3">
      <!-- <app-sdk-crud></app-sdk-crud> -->
      <div class="table-responsive" style="height:300px;width: auto;">
        <table class="table table-hove">
          <thead class="text-primary">
           <th><b>ID</b></th>
            <th><b>Employee Position</b></th>
            <th><b>Employee Type</b></th>
           <th ><b>Action</b></th>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employeeList  |filter:searchitem; let i=index">
              <td>#{{employee.positionID}}</td>
              <td>{{employee.positionName}}</td>
              <td>{{employee.positionType}}</td>   
              <td class="td-actions text-left">
                <button type="button" class="btn btn-warning btn-link btn-just-icon" (click)="Edit(i,employee, template1)">
                  <i class="bi bi-pencil-fill" style="font-size:16px"></i>
                </button>
            
                <button type="button" class="btn btn-danger btn-link btn-just-icon"(click)="Delete(employee)">
                  <i class="bi bi-trash3-fill" style="font-size:16px"></i>
                </button>
                <!-- <button type="button" class="btn btn btn-link btn-just-icon" (click)="Edit(employee, template)">
                  <i class="bi bi-pencil-square edit" style="font-size:16px"></i>
                </button>
            
                <button type="button" class="btn btn-danger btn-link btn-just-icon mt-3">
                  <i class="bi bi-trash3-fill delete" style="font-size:16px" (click)="Delete(employee.id)"></i>
                </button> -->
              </td>          
            </tr>
            
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Employee Deatails</h4>
    <button
      type="button"
      class="btn btn-danger pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
     Close
    </button>
  </div>

  <div class="modal-body">
      <form [formGroup]="employeeForm">
          
            <div class="form-group">
              <label class="tcol"><b>Employee Id:</b></label>
              <input type="number" class="mod-input" placeholder="Employee Position ID" formControlName="positionID"
                  [ngClass]="{'is-invalid': subBtn && f['positionID'].errors}">
              <div *ngIf="subBtn && f['positionID'].errors" class="invalid-feedback">

                <div *ngIf="f['positionID'].errors['required']">
                  Employee ID is required...!                
                </div>
              </div>
              
            </div>
                <!-- <div *ngIf="f['employeePosition'].errors['pattern=[A-Za-z]+$']">
                   only Alphbate is required...!  
                </div> -->
               
          <div class="form-group">
              <label class="tcol"><b>Employee Position:</b></label>
              <input type="text" class="mod-input" placeholder="Employee Position Name" formControlName="positionName"
                  [ngClass]="{'is-invalid': subBtn && f['positionName'].errors}">
              <div *ngIf="subBtn && f['positionName'].errors" class="invalid-feedback">

                <div *ngIf="f['positionName'].errors['required']">
                  Employee position is required...!                
                </div>
              </div>
              </div>
              <div class="form-group">
                <label class="tcol"><b>Employee Type:</b></label>
                <input type="text" class="mod-input" placeholder="Employee Type" formControlName="positionType"
                    [ngClass]="{'is-invalid': subBtn && f['positionType'].errors}">
                <div *ngIf="subBtn && f['positionType'].errors" class="invalid-feedback">
  
                  <div *ngIf="f['positionType'].errors['required']">
                    Employee Type is required...!                
                  </div>
                </div>
                </div>
                  <!-- <select class="custom-select pl-2" formControlName="type"
                  [ngClass]="{'is-invalid': subBtn && f['type'].errors}">
                      <option [disabled]="true" [selected]="true"> Select</option>
                      <option>Fresher</option>
                      <option>Junior Software Engineer</option>
                      <option>Senior Software Engineer</option>
                  </select>
                   <div *ngIf="subBtn && f['type'].errors" class="invalid-feedback">
  
                  <div *ngIf="f['type'].errors['required']">
                    Employee type is required!
                  </div>
                 </div> -->
          
      </form>
  </div>

  <div class="modal-footer">
    <button  type="button"  class="btn  btn-secondary " (click)="closeModal()">
      Close
    </button>
    <button *ngIf="editbtn==false" type="button" class="btn   btn-success" (click)="Submit()">
      Submit
    </button>
  </div>
</ng-template>


<ng-template #template1>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update Employee Deatails</h4>
    <button
      type="button"
      class="btn btn-danger pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
     Close
    </button>
  </div>

  <div class="modal-body">
      <form [formGroup]="employeeForm">
          
            <div class="form-group">
              <label class="tcol"><b>Employee Id:</b></label>
              <input type="number" class="mod-input" placeholder="Employee Position ID" formControlName="positionID"
                  [ngClass]="{'is-invalid': subBtn && f['positionID'].errors}">
              <div *ngIf="subBtn && f['positionID'].errors" class="invalid-feedback">

                <div *ngIf="f['positionID'].errors['required']">
                  Employee position is required...!                
                </div>
              </div>
              
            </div>
                <!-- <div *ngIf="f['employeePosition'].errors['pattern=[A-Za-z]+$']">
                   only Alphbate is required...!  
                </div> -->
               
          <div class="form-group">
              <label class="tcol"><b>Employee Position:</b></label>
              <input type="text" class="mod-input" placeholder="Employee Position Name" formControlName="positionName"
                  [ngClass]="{'is-invalid': subBtn && f['positionName'].errors}">
              <div *ngIf="subBtn && f['positionName'].errors" class="invalid-feedback">

                <div *ngIf="f['positionName'].errors['required']">
                  Employee position is required...!                
                </div>
              </div>
              </div>
              <div class="form-group">
                <label class="tcol"><b>Employee Type:</b></label>
                <input type="text" class="mod-input" placeholder="Employee Type" formControlName="positionType"
                    [ngClass]="{'is-invalid': subBtn && f['positionType'].errors}">
                <div *ngIf="subBtn && f['positionType'].errors" class="invalid-feedback">
  
                  <div *ngIf="f['positionType'].errors['required']">
                    Employee position is required...!                
                  </div>
                </div>
                </div>
                  <!-- <select class="custom-select pl-2" formControlName="type"
                  [ngClass]="{'is-invalid': subBtn && f['type'].errors}">
                      <option [disabled]="true" [selected]="true"> Select</option>
                      <option>Fresher</option>
                      <option>Junior Software Engineer</option>
                      <option>Senior Software Engineer</option>
                  </select>
                   <div *ngIf="subBtn && f['type'].errors" class="invalid-feedback">
  
                  <div *ngIf="f['type'].errors['required']">
                    Employee type is required!
                  </div>
                 </div> -->
          
      </form>
  </div>

  <div class="modal-footer">
    <button  type="button"  class="btn  btn-secondary " (click)="closeModal()">
      Close
    </button>
    <button *ngIf="editbtn==true" type="button" class="btn   btn-success" (click)="Update()">
      Update
    </button>
  </div>
</ng-template>
<!-- <div class="fluid-container">
<div class="row">
        <div class=" col-lg-8 col-md-6 col-sm-12"> 
          <h4 class="size mt-4" style="margin-left:3%;"><b>Position</b></h4>
        </div>
       <div class="col-lg-4 col-md-6  col-sm-6  justify-content-end mt-3">
        <button type="button" class="btn submit-btn"   (click)="openModal(template)">
          <i class="bi bi-plus-lg "></i> Add Position
        </button>
        <button type="button" class="btn btn-header" >
          <i class="bi bi-envelope icon-header" ></i> 
        </button>
    
        <button type="button" class="btn btn-header" >
          <i class="bi bi-telephone icon-header" ></i> 
        </button>
    
        <button type="button" class="btn btn-header-2"  >
          <i class="bi bi-info-circle icon-header" ></i> 
        </button>
      </div>
    </div>
  <div class="card">
      
  <div class="card-body">
          <div class="line">
              <h4 class="header"><b>Position Summary</b></h4>
          </div>
         

    <div class="row rowmar mb-3 ">
      <div class="col-lg-9 col-md-7 col-sm-12" >
     <h5 class="tab-head" >Show 
       <select name="" id="" class="select">
         <option value="5">05</option>
         <option value="10">10</option>
         <option value="15">15</option>
         <option value="20">20</option>
       </select>
       
       entries</h5>
     </div>
    
       <input class=" search" type="search" placeholder="Search..." aria-label="Search"
          [(ngModel)]="searchitem">
     
     </div>
    <div class=" table-responsive table-bordered" style="height:300px" >
      <table class="table table-hove  ">
        <thead class="text-Black">
         <th><b>#ID</b></th>
          <th><b>Employee Position</b></th>
          <th><b>Employee Type</b></th>
         <th ><b>Action</b></th>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeList  |filter:searchitem; let i=index">
            <td>#0{{i+1}}</td>
            <td>{{employee.employeePosition}}</td>
            <td>{{employee.type}}</td>   
            <td class="td-actions text-left">
              <button type="button" class="btn btn btn-link btn-just-icon" (click)="Edit(employee, template)">
                <i class="bi bi-pencil-square edit" style="font-size:16px"></i>
              </button>
          
              <button type="button" class="btn btn-danger btn-link btn-just-icon">
                <i class="bi bi-trash3-fill delete" style="font-size:16px" (click)="Delete(employee.id)"></i>
              </button>
            </td>          
          </tr>
          
        </tbody>
      </table>
      
    </div>
    <div class="row mt-4">
      <div class="col-lg-9 col-md-8 col-sm-3">
          <p style="padding-left: 20px;"><b>Showing 1 to 8 of 8 entries</b></p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-9">
         <button type="button" class="btn btn-sm" style="background-color: white; color: black;">Previous</button>
         <button type="button" class="btn btn-sm" style="background-color: #3366FF;padding-left: 15px; padding-right: 15px;">1</button>
         <button type="button" class="btn btn-sm" style="background-color: white; color: black;">Next</button>
      </div>
  </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Employee Deatails</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>

  <div class="modal-body">
      <form [formGroup]="employeeForm">
          
            <div class="form-group">
              <label class="tcol"><b>Employee Position:</b></label>
              <input type="text" class="mod-input" placeholder="Employee Position Name" formControlName="employeePosition"
                  [ngClass]="{'is-invalid': subBtn && f['employeePosition'].errors}">
              <div *ngIf="subBtn && f['employeePosition'].errors" class="invalid-feedback">

                <div *ngIf="f['employeePosition'].errors['required']">
                  Employee position is required...!                
                </div>
                
              --------  <!-- <div *ngIf="f['employeePosition'].errors['pattern=[A-Za-z]+$']">
                   only Alphbate is required...!  
                </div> 
              <!-- </div>
              
          </div>
          <div class="form-group">
              <label class="tcol"><b>Employee Type:</b></label>
                  <select class="custom-select pl-2" formControlName="type"
                  [ngClass]="{'is-invalid': subBtn && f['type'].errors}">
                      <option [disabled]="true" [selected]="true"> Select</option>
                      <option>Fresher</option>
                      <option>Junior Software Engineer</option>
                      <option>Senior Software Engineer</option>
                  </select>
                   <div *ngIf="subBtn && f['type'].errors" class="invalid-feedback">
  
                  <div *ngIf="f['type'].errors['required']">
                    Employee type is required!
                  </div>
                 </div>
          </div>
      </form>
  </div>

  <div class="modal-footer">
    <button  type="button"  class="btn close-btn" (click)="closeModal()">
      Cancle
    </button>
    <button *ngIf="editbtn==false" type="button" class="btn sub-btn" (click)="Submit()">
      Submit
    </button>
    <button *ngIf="editbtn==true" type="button" class="btn sub-btn" (click)="Update()">
      Update
    </button>
  </div>
</ng-template>

</div> -->
<!-- 
      <

<div class="card mt-4">
   <div class="card-header mt-4">
    <h4 class="header" style="font-size: 25px;"><b>Position Summary</b></h4>
   </div>
    <div class="card-body">
        <div class="row ">
       <div class="col-lg-9 col-md-9 col-sm-5"  >
      <h6  style="font-weight: 500;">Show 
        <select name="" id="" class="select">
          <option value="5">05</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
        
        entries</h6>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-7"  >
        <input class=" search" type="search" placeholder="Search..." aria-label="Search"
           [(ngModel)]="searchKey">
      </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 table-responsive mt-3" style="height: 250px;">
        <table class="table table-hove">
          <thead class="" >
            <th class=" tab-head">#ID</th>
            <th class=" tab-head">Employee Position</th>
            <th class=" tab-head">Employee Type</th>
            <th class="4 tab-head">Actions</th>
          </thead>
          <tbody>
           
                <tr *ngFor="let tab of employeeList |filter:searchKey ;let i=index">
                     <td>#0{{i+1}}</td>
                    <td>{{tab.employeePosition}}</td>
                    <td>{{tab.type}}</td>
                    
              <td class="td-actions text-left">
                <button type="button" class="btn btn btn-link btn-just-icon" (click)="Edit(tab,template)">
                  <i class="bi bi-pencil-square edit" style="font-size:16px"></i>
                </button>
            
                <button type="button" class="btn btn-danger btn-link btn-just-icon">
                  <i class="bi bi-trash3-fill delete" style="font-size:16px" (click)="Delete(tab.id)"></i>
                </button>
              </td>
            </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header" style="text-align: center;">
      <h4 class="modal-title tab-head" >Position</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="closeModal()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
        <form [formGroup]="employeeForm">
           <img [src]="url" class="i1"><br>
            <input type="file" class="mt-1" (change)="onselectFile($event)">
            <div class="form-group ">
              <label for="text " class=" tab-head">Employee Position</label>
              <div>
              <input type="text" class="mod-input" placeholder="Enter Employee Position" formControlName="employeePosition" pattern="[A-Za-z]+$">
              </div>
              </div>
              <div class="form-group">
                <label for="text " class=" tab-head">Employee Type</label>
                <select class="custom-select pl-2" name="type" placeholder="Enter Employee Type"  formControlName="type"  style="font-size: 15px;">
                  <option value="">Select Employee Type</option>
                  <option *ngFor="let type of types">{{type}}</option>
                </select>
              
              </div>


          </form>
    </div>
    
  
    <div class="modal-footer">
      <button type="button" class="btn close-btn" (click)="closeModal()">
        Close
      </button>
      <button type="submit" *ngIf="isUpdate==false" class="btn submit-btn" (click)="Submit()">
        Submit
      </button>
      <button type="button"  *ngIf="isUpdate==true" class="btn submit-btn" (click)="Update()">
        Update
      </button>
    </div>
  </ng-template>
   -->