<body>
    <div class="row">
        <div class="col-lg-8 col-md-6 col-12">
            <h3 style="font-size: 30px;"><b>Events</b></h3>
        </div>
        <div class="col-lg-4 col-md-6 col-11 justify-content-end" style="padding-top: 20px; padding-bottom: 20px; padding-left: 40px;">
            <button type="button" class="btn submit-btn " style="background-color: #3366FF;"
                (click)="openModal(template)">
                <i class="bi bi-plus-lg "></i> Add Qualification
            </button>
            <button type="button" class="btn btn-header icon " style="background-color: #DEE5F7; color: black;">
                <i class="bi bi-envelope icon-header"></i>
            </button>
            <button type="button" class="btn btn-header icon " style="background-color: #DEE5F7; color: black;">
                <i class="bi bi-telephone icon-header"></i>
            </button>
            <button type="button" class="btn icon" style="background-color: #3366FF;">
                <i class="bi bi-info-circle icon-header"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 ">
            <div class="card">
                <div class="card-header">
                    <div class="vertical-line">
                        <h4 class="header" style="padding-left: 15px;"><b>Upcoming Events</b></h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-2 ">
                            <div class="card"
                                style="width:50px;  height:50px; background-color: #E6FAF4; text-align: center;">
                                <h5 style="color: #0c694f;"><b>22</b>
                                    <p><b>FEB</b></p>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-9 col-9">
                            <h5 style="padding-top: 36px; padding-left: 3px; font-size: 12px;"><b>Anniversary</b>
                                <p>Office 3rd Anniversary on 22nd Feb</p>
                            </h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;">
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="card"
                                style="width:50px;  height:50px; background-color: #F6EDFE; text-align: center;">
                                <h5 style="color: #B86BF4;"><b>10</b>
                                    <p><b>FEB</b></p>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-5">
                            <h5 style="padding-top: 36px; padding-left: 3px; font-size: 12px;"><b>Vanessa James</b>
                                <p>Birthday on Feb 16</p>
                            </h5>
                        </div>
                        <div class="col-lg-5 col-md-5 col-5 ">
                            <button type="button" class="btn btn-outline-danger btn-sm "
                                style="margin-top: 40%; margin-right: 1px; font-size: 10px;">
                                <i class="fa fa-birthday-cake"></i>
                                Wish Now
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;">
                        <div class="col-lg-2 col-md-2 col-2 ">
                            <div class="card"
                                style="width:50px;  height:50px; background-color: #FEECEA; text-align: center;">
                                <h5 style="color: #F4533D;"><b>18</b>
                                    <p><b>FEB</b></p>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-10">
                            <h5 style="padding-top: 36px; padding-left: 3px; font-size: 12px;"><b>Trade shows</b>
                                <p>Smart Device Trade shows</p>
                            </h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;">
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="card"
                                style="width:50px;  height:50px; background-color: #FFF9E7; text-align: center;">
                                <h5 style="color: #FBC536;"><b>06</b>
                                    <p><b>Mar</b></p>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-10">
                            <h5 style="padding-top: 36px; padding-left: 3px; font-size: 12px;"><b>Holiday Party</b>
                                <p>SCreate a Cost-Effective Holiday Party Menu</p>
                            </h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;">
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="card"
                                style="width:50px;  height:50px; background-color: #FDEDF8; text-align: center;">
                                <h5 style="color: #EF55B9;"><b>13</b>
                                    <p><b>Mar</b></p>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-10">
                            <h5 style="padding-top: 36px; padding-left: 3px; font-size: 12px;"><b>Team-Building</b>
                                <p>Team Communication & Creative Innovation team</p>
                            </h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;">
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="card"
                                style="width:50px;  height:50px; background-color: #FDEDF8; text-align: center;">
                                <h5 style="color: #EF55B9;"><b>24</b>
                                    <p><b>Mar</b></p>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-10">
                            <h5 style="padding-top: 36px; padding-left: 3px; font-size: 12px;"><b>Anniversary</b>
                                <p>Faith Harris 3rd work Anniversary</p>
                            </h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;">
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="card"
                                style="width:50px;  height:50px; background-color: #F6EDFE; text-align: center;">
                                <h5 style="color: #B86BF4;"><b>10</b>
                                    <p><b>APR</b></p>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-5">
                            <h5 style="padding-top: 36px; padding-left: 3px; font-size: 12px;"><b>Austin Bell</b>
                                <p>Birthday on APR 10</p>
                            </h5>
                        </div>
                        <div class="col-lg-5 col-md-5 col-5 ">
                            <button type="button" class="btn btn-outline-danger btn-sm "
                                style="margin-top: 40%; margin-right: 1px; font-size: 10px;">
                                <i class="fa fa-birthday-cake"></i>
                                Wish Now</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;">
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="card"
                                style="width:50px;  height:50px; background-color: #E7F3FE; text-align: center;">
                                <h5 style="color: #298EF9;"><b>25</b>
                                    <p><b>APR</b></p>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-10">
                            <h5 style="padding-top: 36px; padding-left: 3px; font-size: 12px;"><b>Board Meeting</b>
                                <p>It will be held in Meeting Room</p>
                            </h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;">
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="card"
                                style="width:50px;  height:50px; background-color: #F6EDFE; text-align: center;">
                                <h5 style="color: #B86BF4;"><b>01</b>
                                    <p><b>MAY</b></p>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-5">
                            <h5 style="padding-top: 36px; padding-left: 3px; font-size: 12px;"><b>Maria Bower</b>
                                <p>Birthday on May 01</p>
                            </h5>
                        </div>
                        <div class="col-lg-5 col-md-5 col-5">
                            <button type="button" class="btn btn-outline-danger btn-sm "
                                style="margin-top: 40%; margin-right: 1px; font-size: 10px;">
                                <i class="fa fa-birthday-cake"></i>
                                Wish Now</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;">
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="card"
                                style="width:50px;  height:50px; background-color: #E6FAF4; text-align: center;">
                                <h5 style="color: #0c694f;"><b>21</b>
                                    <p><b>MAY</b></p>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-10">
                            <h5 style="padding-top: 36px; padding-left: 3px; font-size: 12px;"><b>Max Wilson
                                    Anniversary</b>
                                <p>Max Wilson 1st work Anniversary </p>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/img/event.png" alt="" srcset="" style=" width: 100%;">
                </div>
            </div>
        </div>
    </div>
</body>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="eventForm">
            <div class="form-group">
                <label style="color: black;">Event Title </label>
                <input type="text" class="form-control" placeholder="text" formControlName="event"
                    [ngClass]="{'is-invalid': submitted && f['event'].errors}">
                <div *ngIf="submitted && f['event'].errors" class="invalid-feedback">
                    Enter a valid Event...!
                </div>
            </div>
            <div class="form-group">
                <label style="color: black;">Event Date</label>
                <input type="date" placeholder="Date" class="form-control " formControlName="date"
                    [ngClass]="{'is-invalid': submitted && f['date'].errors}">
                <div *ngIf="submitted && f['date'].errors" class="invalid-feedback">
                    <div *ngIf="f['des'].errors['required']">
                        Event Date is required...!
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="comment" style="color: black;">Event Description:</label>
                <textarea class="form-control" placeholder="Some text here..." rows="5" id="des" name="text"
                    formControlName="des" [ngClass]="{'is-invalid': submitted && f['des'].errors}">
                    <div *ngIf="submitted && f['des'].errors" class="invalid-feedback">
        
                        <div *ngIf="f['des'].errors['required']">
                            Description is required...!
                        </div></div>
                      </textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="editoperation==false;" type="button" class="btn " style="background-color: #3366FF;"
            (click)=" Save()">ADD</button>
        <button *ngIf="editoperation==true;" type="button" id="cancel" class="btn btn-primary"
            (click)=" Update()">Update</button>
    </div>
</ng-template>