.vertical-line {

    border-left: 5px solid;
    border-color: #28699e;
    height: 25px;
    margin-left: -20px;
    margin-top: 10px;

}
.icon{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
}
