

  <div class="row header">
    <div class="col-lg-8 col-md-5 col-sm-5"> </div>
   <div class="col-lg-4 col-md-7 col-sm-7  justify-content-end">
    <button type="button" class="btn submit-btn " (click)="openModal(template)">
      <i class="bi bi-plus-lg "></i> Add Qualification
    </button>
    <button type="button" class="btn btn-header" >
      <i class="bi bi-envelope icon-header" ></i> 
    </button>

    <button type="button" class="btn btn-header" >
      <i class="bi bi-telephone icon-header" ></i> 
    </button>

    <button type="button" class="btn btn-header-2" >
      <i class="bi bi-info-circle icon-header" ></i> 
    </button>
  </div>
</div>
    
    <div class="card">
    <div class="card-body">
      <div class="row  md-form active-pink active-pink-2 mb-3 mt-0 ">
        <div class="col-lg-9 col-md-7 col-sm-12" >
       <h6 class="tab-head" style="font-weight: 500;">Show 
         <select name="" id="" class="select">
           <option value="5">05</option>
           <option value="10">10</option>
           <option value="15">15</option>
           <option value="20">20</option>
         </select>
         
         entries</h6>
       </div>
      
         <input class=" search" type="search" placeholder="Search..." aria-label="Search"
            [(ngModel)]="searchitem">
       
       </div>
      <div class="table-responsive " style="height: 400px; width: auto;">
        <table class="table table-hove ">
          <thead class="text-primary">
           <th>ID</th>
            <th>Qualification</th>
           <th >Action</th>
          </thead>
          <tbody>
            <tr *ngFor="let qual of qualificationlist  |filter:searchitem; let i=index">
              <td>#0{{i+1}}</td>
              <td>{{qual.qualification}}</td>             
              <td>
                <button class="btn btn-warning btn-link btn-just-icon" (click)="edit(qual);openModal(template)">
                  <i class="bi bi-pencil-fill" style="font-size:16px"></i>
                </button>
            
                <button  class="btn btn-danger btn-link btn-just-icon" (click)="delqual(qual.id)">
                  <i class="bi bi-trash3-fill" style="font-size:16px"></i>
                </button>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Qualification</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="closeModal()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
        <form [formGroup]="qualificationForm">
            <div class="form-group">
                <label class="text-danger"><b>Add Qualification:</b></label>
                <input type="text" class="form-control" placeholder="Enter Qualification" formControlName="qualification" [ngClass]="{'is-invalid': subBtn && f['qualification'].errors}">
                <div *ngIf="subBtn && f['qualification'].errors"  class="invalid-feedback">
                  <div *ngIf="f['qualification'].errors['required']">
                    Qualification Is required
                  </div>
                  
                </div>
              </div>
        </form>
    </div>
  
    <div class="modal-footer">
      <button type="button"  class="btn btn-outline-primary" (click)="closeModal()">
        Cancle
      </button>
      <button *ngIf="editbtn==false" type="button" class="btn btn-success" (click)="submitData()">
        Submit
      </button>
      <button *ngIf="editbtn==true" type="button" class="btn btn-warning" (click)="UpdateData()">
        Update
      </button>
    </div>
  </ng-template>
  